footer {
    border-top: solid 1px var(--trans-black);
    color: var(--black);
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.7rem 0.7rem;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
}