:root {
    --black: rgb(37, 37, 37);
    --trans-black: rgba(0, 0, 0, 0.15);
    --border: 0.1rem;
    --active: 0px 0px 0px 4px rgba(78, 148, 228, 0.15);
    --gradient: linear-gradient(to right, rgb(151, 152, 219), rgb(104, 185, 231));
    --polygon: polygon(0 0, 100% 6%, 100% 94%, 0 100%);
    --vh: 50vh;
}

* {
    font-family: Poppins, sans-serif;
    margin: 0;
    background-color: #f9f9ff;
    /* border: solid 1px black; */
}

nav, nav p {
    color: white;
    background-color: rgb(31, 167, 31);
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.4rem 0;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    transition: visibility 0.95s, opacity 0.95s;
}

/* nav p {
    background-color: rgb(31, 167, 31);
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.95s, opacity 0.95s;
} */

.nav-visibility {
    text-align: center;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.15s linear !important;
}

/* Centers main content */
section:first-of-type > div {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: var(--vh);
}

/* Aligns content horizontally */
section:first-of-type > div > div {
    display: flex;
    align-items: center;
    padding: 0.5rem;
}

.main-image {
    width: 25rem;
} 

.main-left-container {
    margin-right: 4rem;
}

.main-left-container p {
    padding: 0 0 0.2rem 0;
    font-size: 0.95rem;
    color: var(--black);
}

.main-left-container p:nth-child(2) {
    font-size: 1.55rem;
}

.main-left-container > div {
    margin-bottom: 0.9rem;
}

.main-left-container button {
    background-image: var(--gradient);
    border-radius: var(--border);
    padding: 0.6rem 2rem;
    border: none;
    color: white;
    cursor: pointer;
    white-space: nowrap;
    transition: background-color 0.15s, box-shadow 0.05s;
}

.main-left-container button:active {
    box-shadow: var(--active);
}

/* .second-section {
    overflow: hidden;
}

.second-section > div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12rem;
    margin: 0 auto;
    font-size: 2rem;
    overflow: hidden;
    white-space: nowrap;
}

.second-section > div > div {
    animation: icons 5s linear 0s infinite;
    margin-right: 0.6rem;
}

.second-section > div > div + div {
    animation: icons 5s linear 0s infinite;
    margin-right: 11rem;
} */

/* Media */
@media (max-width: 1024px) {
    section:first-of-type > div > div {
        flex-direction: column;
    }

    .main-image {
        order: 1;
        margin: 3rem 0;
    }

    .main-left-container {
        order: 2;
        margin: 0;
        text-align: center;
    }
}

@media (max-width: 481px) {
    .main-image {
        width: 15rem;
    }
}

@media (max-width: 320px) {
    .main-image {
        width: 12rem;
    }
}

@media (max-width: 240px) {
    .main-image {
        width: 10rem;
    }
}

/* Animations */
/* @keyframes icons {
    from {
        transform: translate(0, 0);
    }

    to {
        transform: translate(179px, 0);
    }
} */